* {
  font-family: "Courier New", Courier, monospace;
  /* border: 1px solid black; */
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas: "header header" "sidebar content";
  background-color: #ffe9f3;
}

/* Header and Nav bar section */

header {
  grid-area: header;
  background-color: #2d3142;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-logo {
  display: flex;
  width: 20%;
  justify-content: center;
}

.site-logo h1:hover {
  color: #70f8ba;
}

header h1 {
  font-size: 3rem;
  color: #ffe9f3;
  font-weight: 900;
  font-family: monospace;
}

nav {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

nav > button {
  background: none;
  color: #ffe9f3;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

nav > button:hover {
  text-decoration: underline;
  color: #70f8ba;
  text-underline-offset: 0.5rem;
}

/* Sidebar section */

.sidebar {
  grid-area: sidebar;
  background-color: #2d3142;
  color: #ffe9f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions-wrapper {
  display: flex;
  height: 90%;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.actions-wrapper > * {
  font-size: 2rem;
}

.actions-wrapper button {
  background: none;
  color: #ffe9f3;
  font-weight: 600;
  letter-spacing: 0.2rem;
  border: none;
}

.actions-wrapper button:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  color: #70f8ba;
}

/* Content section */

.content {
  grid-area: content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .content > * {
    border: 1px solid black;
} */
.display-container {
  height: 90%;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  /* overflow: hidden; */
  gap: 15px;
}

.card {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  background-color: #2d3142;
  color: #ffe9f3;
  border-radius: 40px;
  justify-content: space-evenly;
  flex-direction: column;
  box-shadow: 0 5px 5px rgba(0.1, 0.1, 0.1, 0.5);
  transition: all 0.4s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0.1, 0.1, 0.1, 0.5);
}
