* {
  font-family: "Courier New", Courier, monospace;
  /* border: 1px solid black; */
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 8fr;
  grid-template-areas: "header header" "sidebar content";
  background-color: #ffe9f3;
}

/* Header and Nav bar section */

header {
  grid-area: header;
  background-color: #ffe9f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-logo {
  display: flex;
  width: 13%;
  justify-content: center;
}

.site-logo h1:hover {
  color: #bf1363;
}

header h1 {
  font-size: 3rem;
  color: #2d3142;
  font-weight: 900;
  font-family: monospace;
}

nav {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

nav > button {
  background: none;
  color: #2d3142;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

nav > button:hover {
  text-decoration: underline;
  color: #bf1363;
  text-underline-offset: 0.5rem;
}

/* Sidebar section */

.sidebar {
  grid-area: sidebar;
  background-color: #ffe9f3;
  color: #2d3142;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5rem;
}

.actions-wrapper {
  display: flex;
  height: 15%;
  width: 80%;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.actions-wrapper > * {
  font-size: 1.5rem;
}

.actions-wrapper button {
  background: none;
  color: #2d3142;
  font-weight: 600;
  letter-spacing: 0.2rem;
  border: none;
}

.actions-wrapper button:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  color: #bf1363;
}

/* .sidebar > * {
  border: 1px solid black;
} */

.project-list {
  width: 80%;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
  padding: 0;
}

/* .sidebar ul > * {
  border: 1px solid black;
} */

.sidebar ul a {
    text-decoration: none;
    color: #2d3142;
    font-weight: 600;
}

.sidebar ul a:hover {
    color: #4A7856;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

.sidebar ul a::selection {
    color: #4A7856;
}


/* Content section */

.content {
  grid-area: content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .content > * {
    border: 1px solid black;
} */
.display-container {
  height: 90%;
  width: 90%;
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-rows: repeat(8, 1fr);
  /* overflow: hidden; */
  gap: 15px;
}

.card {
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 20px;
  background-color: #2d3142;
  color: #ffe9f3;
  border-radius: 40px;
  box-shadow: 0 5px 5px rgba(0.1, 0.1, 0.1, 0.5);
  transition: all 0.4s ease;
}

.details {
  display: grid;
}
.todo-btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.todo-btns .delete {
  width: auto;
  background-color: #bf1363;
  border: none;
  color: #ffe9f3;
  font-weight: 1000;
  font-size: 1.2rem;
  border-radius: 20px;
  height: 2rem;
  width: 2rem;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0.1, 0.1, 0.1, 0.5);
}
